@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	// header
	.transitionHeader {
		transform: translateX(100%)
	}
	// about {
	.dot {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		cursor: pointer;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.transition {
		transition: opacity 0.2s linear, visibility 0.2s linear;
	}
	// footer
	.footer {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
	// roadmap
	.pointLeftRoadmap {
		transform: translate(50%, -50%) rotate(-225deg);
		right: -0.5px;
	}
	.borderRoadmap {
		border: 3px solid #0c1e32;
	}
	.directionMobile {
		direction: ltr;
	}
	.backgroundRoadmap {
		background: linear-gradient(
			102.92deg,
			#3bbfff 0%,
			#d47af5 56.77%,
			rgba(212, 122, 245, 0) 99.1%
		);
	}
	.directionPC {
		direction: rtl;
	}
	.contentColor {
		content: '\2022';
	}
	.contentEmpty {
		content: '';
	}
	.pointRightRoadmap {
		transform: translate(-50%, -50%) rotate(-45deg);
		left: 0.5px;
	}
	// statistic
	.backgroundStatistic {
		background: rgba(212, 122, 245, 0.15);
		backdrop-filter: blur(10px);
		border-radius: 20px;
	}
	// index
	.scrollbar-medium::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-width {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.backgroundSizeMobile {
		background-size: 500%;
	}
	.gradient-about {
		background: linear-gradient(
			102.92deg,
			#36c1ff 6.55%,
			#77a3f8 47.11%,
			#bd81f1 71.51%,
			#cf79ee 98.22%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next/Avenir-Next-LT-Pro-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next/Avenir-Next-LT-Pro-Demi-Bold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next/Avenir-Next-LT-Pro-Demi-Bold.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next/Avenir-Next-LT-Pro-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
html {
	scroll-behavior: smooth;
	font-family: 'Avenir Next LT Pro', sans-serif;
}
